##################################
# Node.js
##################################

# Dependências
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache e builds
.cache/
dist/
build/

# Variáveis de ambiente
.env
.env.*

# Gerenciadores de pacotes
package-lock.json
yarn.lock
pnpm-lock.yaml

##################################
# Java
##################################

# Compilação
*.class

# Diretórios de build
target/
bin/
out/

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp

##################################
# IDEs e Editores
##################################

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# NetBeans
nbproject/
build.xml

##################################
# Sistema Operacional
##################################

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
