.lista_contatos-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.contato-componente{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 10px;
  background-color: rgb(30, 81, 177);
  padding: 20px;
  color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}