*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

header {
  background-color: #EBEBEB;
  padding: 15px 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

button {
  background-color: rgb(30, 81, 177);
  color: white;
  padding: 11px 18px 11px 18px;
  border-radius: 20px;
  font-size: 26px;
}

body{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

a.mais{
  width: 100%;
}