article{
    margin: 20px 50px 20px 50px;
    background-color: #cceaeb;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}