*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-color: #EBEBEB;
  padding: 15px 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

button {
  background-color: rgb(30, 81, 177);
  color: white;
  padding: 11px 18px 11px 18px;
  border-radius: 20px;
  font-size: 26px;
}

body{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.lista_contatos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.contato{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 10px;
  background-color: rgb(30, 81, 177);
  padding: 20px;
  color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}