*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-color: #EBEBEB;
  padding: 15px 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

button {
  background-color: #6E6E6E; 
  color: white;
  padding: 11px 18px 11px 18px;
  border-radius: 20px;
  font-size: 26px;
}

.lista_contatos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 100px 10px 100px;
}

.contato{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: 100%;
  border-radius: 40px;
  background-color: #E9E9E9;
  padding: 10px;
}