header {
    background-color: #1a746c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 20vh;
    align-items: center;
    border-radius: 0 0 10px 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

.secao{
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    padding: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 20px 100px 20px 100px;
}

.btn{
    margin: 0 10px 0 10px;
    background-color: #1582ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.btn:hover{
    background-color: #0d5bbf;
}