*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.imagem{
  max-width: 100%;
  height: auto;
  display: block;
}

.cabecalho{
    display: flex;
}

.imagem-topo{
    height: 100%;
    width: 25vh;
    padding: 10px;
}

.menu-navegacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: solid;*/
    margin-left: auto;
}
.lista-links{
    display: flex;
    list-style: none;
    /*border: solid;*/
}

a{
    margin: 10px;
    color: #000000;
    text-decoration: none;
    /*border: solid;*/
}

.rodape1{
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

.direitos{
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
}

p{
    font-family: 'Arial', sans-serif;
}

.borda{
    border: solid
}

footer{
    background-color: #38ab5e;    
}

main{
    flex: 1;
}

.formulario{
  text-align: center;
  margin: 10vh;
  padding: 5vh;
}

.btn{
  background-color: #49a7ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}
@media (max-width: 600px){
  .imagem-topo {
    height: 6vh;
    width: 14vh;
  }

  a {
    font-size: 0.7em;
    font-family: 'Arial', sans-serif;
  }

  .rodape1 h1 {
    font-size: 1em;
  }

  .direitos {
    font-size: 0.6em;
  }
}